*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{

    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
    color: blueviolet;
}


.brand-title ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.brand-title li{
    list-style: none;
}
    
.brand-title li a{
    text-decoration: none;
    margin: 1em;
    display: block;

}

.hello-btn{
    border: 2px solid blueviolet;
    border-radius: 30px;
    outline: 5px;
    color: blueviolet;
    margin-left: 10px;
}

.job-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.job-title h1{
    font-size: 3em;
    margin-top: 2em;
}

.job-description h3{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;

}

.images img{
    height: 300px;
    width: 300px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 100px;
}

.devices{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.devices img{
    width: 50%;
    height: 50%;
}

.about-me{
    background-color: #6E07F3;
    height: 500px;
    color: white;
}



.about-me h3{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
}

.about-me p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 1.5em;
    text-align: center;
}

.skills{
    height: 600px;
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    /* border: 2px solid purple; */
    margin-top: -100px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 4px rgba(212, 212, 212, 0.75);
}

.column{
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
    flex-grow: 1;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.column img{
    height: 50px;
}

.column h2{
    color:#6E07F3
}

.column ul li{
    list-style: none;
    align-self: center;
    margin-left: -40px;
}

.work{
   margin-top: 100px;
}

.work p{
    margin-top: 25px;
}